@using DesignPattern.Composite.CompositePattern;

@{
    Layout = null;
    var value = ViewBag.v as ProductComposite;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card-header">
                Toplam Ürün Sayısı : @value.TotalCount()
            </div>
            <div class="card-body">
                @foreach (var item in value.Components)
                {
                    @Html.Raw(item.Name)
                }
            </div>
        </div>
    </div>
</div>
