@model DesignPattern.Mediator.MediatorPattern.Results.GetProductByIdQueryResult
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <label>Ürün Id</label>
    <input type="text" class="form-control" asp-for="ProductID"/>
    <br />
    <label>Ürün Adı</label>
    <input type="text" class="form-control" asp-for="ProductName" />
    <br />
    
</div>

